# Express run-time
/logs
/run

# Sass compiled file
*.scss.css
*.sass.css

# package-lock.json
package-lock.json

# File System & idea
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
