$bodyBackground: #f2f2f2;
$blockBackground: #fff;
$activeBackground: #fde5e2;

$primaryFontColor: #2a2e3d;
$lighterFontColor: #bcc0c4;
$activeColor: #ef533d;

$commonBorder: 1px solid #dadadc;

$h1FontSize: 40px;
$h2FontSize: 32px;
$textFontSize: 26px;

$majorGap: 40px;

// 设计稿的字体使用的是 苹方-中黑体。但是不知道字重的具体值，这里使用 bold normal。以后需要再改吧
$middleBoldFontWeight: bold;
$regularFontWeight: normal;

$bigPaddingValue: 30px;

